<h2>My profile</h2>
<div>
  <p>
    <span>First Name: </span> {{currentUser.firstName | titlecase}}
  </p>
  <p>
    <span>Last Name: </span> {{currentUser.lastName | titlecase}}
  </p>
  <p>
    <span>E-mail address: </span> {{currentUser.email}}
  </p>
  <p *ngIf="currentUser.phone">
    <span>Phone: </span> {{currentUser.phone}}
  </p>
  <p>
    <span>Type: </span> {{currentUser.type ? currentUser.type : "Normal User"}}
  </p>
  <a routerLink="/editprofile"><button class="btn btn-primary" >Edit Profile</button></a>
</div>