<h1>Hi {{currentUser.firstName | titlecase}}!</h1>
<p>Login success</p>
<h3>all users:</h3>
<ul>
  <li *ngFor="let user of users">
    {{user.email}} ({{user.firstName| titlecase}} {{user.lastName | titlecase}})
    - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
  </li>
</ul>