<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link">Events</a>
      <a *ngIf="currentUser" class="nav-item nav-link" routerLink="/profile">Profile</a>
      <a *ngIf="currentUser" class="nav-item nav-link">Organize an Event</a>
      <a *ngIf="!currentUser" class="nav-item nav-link" routerLink="/login">Login</a>
      <a *ngIf="currentUser" class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <app-alert></app-alert>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>